.second-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

// <!-- DESKTOP -->

@media screen and (min-width: 1200px) {
  .second-header {
    font-size: 36px;
    line-height: 1.166;
    padding-bottom: 50px;
  }
}
