body {
  font-family: $primary-font-family;
  color: $primary-dark-txt-color;
}
button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}
