.container {
  width: 100%;
  min-width: 320px;
  padding: 0 15px;

  .order & {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .team & {
    display: block;
  }

  .clients & {
    display: block;
  }

  .footer & {
    display: block;
    text-align: center;
  }

  .portfolio & {
    display: block;
  }
}

@media screen and (min-width: 320px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    padding: 0 15px;

    .footer & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    height: auto;
    padding: 0 15px;
    margin: 0 auto;

    .order & {
      height: 600px;
    }

    .wwd & {
      display: block;
    }

    .footer & {
      padding-top: 60px;
      display: flex;
      text-align: left;
    }
  }
}
