.filters {
  &__list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  &__item {
    width: 128px;
    height: 38px;
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__btn {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    color: $primary-light-txt-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__text-popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: $primary-light-txt-color;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__border {
    border: 1px solid #eeeeee;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-left: 24px;
  }

  &__type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $secondary-txt-color;
    padding-top: 4px;
    padding-bottom: 20px;
    padding-left: 24px;
  }
}

.projects__item {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__text-popup {
    transform: translatey(0);
  }
}

@media screen and (min-width: 768px) and (max-width: 1151px) {
  .filters {
    &__list {
      justify-content: center;
    }
  }
  .projects {
    &__title {
      font-size: 18px;
    }
  }

  .projects__item {
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1151px) {
  .filters {
    &__list {
      justify-content: center;
    }
  }

  .projects__item {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}
