$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
$primary-dark-txt-color: #212121;
$primary-light-txt-color: #ffffff;
$secondary-txt-color: #757575;
$accent-color: #2196f3;
$primary-background-color: #2f303a;
$secondary-backgorund-color: #f5f4fa;
$secondary-light-background-color: #ffffff;
